# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.sqlite3

# Virtual Environments
venv/
ENV/
env/
.venv/

# Environment Variables
.env
.env.*
*.env.*

# Django
db.sqlite3
/staticfiles/
/media/
/migrations/*.pyc
*.sqlite3-journal

# Zappa
zappa_settings.json
zappa_settings*.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/
